html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}



.box-left {
    width: 74%;
    display: inline-block;
}

.box-right {
    width: 25%;
    display: inline-block;
}


.boxtitle {
    color: #168a5e;
}

.img-container {
    text-align: center;
}

.img {
    border: 1px solid red;
    height: 150px;
}

.title{
    margin-top: 15px;
}